<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Welcome</mat-card-title>
        <br>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
         
            <input matInput placeholder="Username" formControlName="username">
          
  
          
            <input matInput placeholder="Password" >
        
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="login()">Log In</button>
      </form>
    </mat-card>
  
  </div>