
<!-- Toolbar -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
   
   <meta name="viewport" content="width=device-width, initial-scale=1">
<mat-toolbar color="primary" class="app-header">
  <span class="nav-tool-items"></span>
    <a class="welcome-message">Fleet Management Tracker</a>
 
</mat-toolbar>

<router-outlet></router-outlet>
