<div fxLayout="row wrap" >

  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" class="dash">
    <mat-card class="dash" > 
      <mat-card-content>
        <button mat-fab color="primary" aria-label="Start" (click)="startLocation($event)">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Stop" (click)="stopLocation($event)">
          <mat-icon>pause</mat-icon>
        </button>
 

  <h6>Latitude = {{latitude}}</h6>
  <h6>Longitude = {{longitude}}</h6>
  <h6>Accuracy = {{accuracy}}</h6>  
      </mat-card-content>          
    </mat-card>
  </div>

<div fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="100%" class="map">
          <div id="map"></div>

</div>

</div>


