// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   min-height: 100vh;
//   background:white;
// }

#map{
  height: 100vh;
 margin: 0;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.dash{
  height: 20vh
}

.map{
  height: 80vh
}

.mat-card{
  text-align: center;
}